.change-task-title {
  width: 100%;
  height: 50px;
  font-weight: bold;
  resize: none;
  border: none;
  outline-color: blue;
  font-size: 20px;
}

.change-task-title:hover::-webkit-scrollbar {
  background: rgba(1, 1, 1, 0.1);
  border-radius: 5px;
}

.change-task-title:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
