.column {
  min-width: 270px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  background: white;
  margin-right: 10px;
  padding: 5px;
}

.column-header {
  padding: 10px;
  cursor: pointer;
}

.change-title {
  width: 95%;
  margin: 0;
}
