.column {
  min-width: 270px;
  height: fit-content;
  position: relative;
  border-radius: 10px;
  background: white;
  margin-right: 10px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.77);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.77);
}

.column-header {
  padding: 10px;
  cursor: pointer;
}

.change-title {
  width: 95%;
  margin: 0;
}

.add-column {
  z-index: 0;
}

.close-icon {
  position: absolute;
  left: calc(100% - 27px);
  cursor: pointer;
}

.card-list {
  padding: 10px;
}
