.add-card-form-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}

.add-card-form-input {
  margin-bottom: 10px;
  padding: 10px;
  margin: 0px;
  width: calc(100% - 20px);
  resize: inherit;
  background: rgb(168, 168, 168);
  border: none;
  border-radius: 5px;
  color: #3f51b5;
  box-shadow: rgba(50, 50, 50, 0.77) 2px 2px 5px 0px;
}

.add-card-form-input::-webkit-scrollbar {
  background: rgba(1, 1, 1, 0.1);
  border-radius: 5px;
}

.add-card-form-input:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.add-card-form-input:focus {
  outline: none;
}
